global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:{{ monitoring_prometheus_port }}"]

{% for target in monitoring_prometheus_scrape_targets %}
  - job_name: "{{ target.job_name }}"
    static_configs:
      - targets: ["{{ target.target }}"]
{% endfor %}
